In [8]:
import pandas as pd

In [9]:
import pandas as pd

transactions = {"transaction_id" : [1, 2, 3, 4, 5], "product_id" : [101, 102, 103, 104, 105], "amount" : [3, 5, 8, 3, 2]}

products = {"product_id" : [101, 102, 103, 104, 105], "price" : [20.00, 21.00, 15.00, 16.00, 52.00]}

df_transactions = pd.DataFrame(transactions)

df_products = pd.DataFrame(products)

In [10]:
def over100dollars(df_transactions, df_products):
    df_result = df_transactions.merge(df_products, on="product_id", how="inner")
    df_result["total_value"] = df_result["amount"] * df_result["price"]
    return df_result[df_result["total_value"] > 100]

In [11]:
df_result = over100dollars(df_transactions, df_products)
df_result

   transaction_id  product_id  amount  price  total_value
1               2         102       5   21.0        105.0
2               3         103       8   15.0        120.0
4               5         105       2   52.0        104.0